@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}


body {
  background: var(--body-bg-color);
  display: flex;
  color: var(--text-color);
}

header {
  width: 30vw;
  height: 1800px;
  background-color: rgba(127, 255, 212, 0.156);
}

main {
  width: 70vw;
  height: 700px;
  background-color: rgba(250, 235, 215, 0.197);
}

.sidebar {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 255, 0.263);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card {
  border-radius: 10px;
  background: var(--bg-cards);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-h1 {
  font-weight: 700;
  font-size: 23px;
}

.texto-p1 {
  font-size: 13px;
}
.texto-p2 {
  font-size: 13px;
  font-weight: 400;
}